.all
{
    width: 100vw;    
    position: absolute;
    top: 0;
}
.d1
{
    background-color: white;
    height: 70vh;
    width: 50vw;    
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
}
.flash
{
    position: absolute;
    z-index: 11;
    background: radial-gradient(circle, rgba(251,255,163,1) 0%, rgba(231, 252, 70, 0) 60%);   
    border-radius: 50%;
}
.img
{
    width: 100%;
}
.d2
{
    background-color: blue;
    height: 70vh;
    width: 50vw;    
    position: absolute;
    z-index: 10;
    left: 50vw;
    display: flex;
    justify-content: flex-end;
}
.r1
{  
    position: absolute;
    z-index: 9;
    left: 100vw;
    color: rgb(0, 0, 0);
    font-size: 3.5vmin;
    text-shadow: 5px 1px 5px #4BFFA5;
}
.r2
{
    color: black;
    position: absolute;
    z-index: 9;
    font-size: 5vmin;
    text-shadow: 5px 1px 5px #4BFFA5;
    white-space: pre;
}

@media (max-width: 500px){
    .d1
    {
        height: 50vh;
    }
    .d2
    {
        height: 50vh;
    }
}
