.all
{
    width: 100vw;    
    position: absolute;
    top: 0
}
.d1
{
    background-color: red;
    height: 70vh;
    width: 50vw;    
    position: absolute;
    z-index: 10;
}
.d2
{
    background-color: blue;
    height: 70vh;
    width: 50vw;    
    position: absolute;
    z-index: 10;
    left: 50vw;
}
.r1
{  
    position: absolute;
    z-index: 9;
    left: 50vw;
    color: rgb(0, 0, 0);
    font-size: 5vmin;
    text-shadow: 5px 1px 5px #4BFFA5;
}
.r2
{
    color: black;
    position: absolute;
    z-index: 9;
    font-size: 8vmin;
    text-shadow: 5px 1px 5px #4BFFA5;
    white-space: pre;
}

