.card
{
    background-color: #080e25;
    margin: 3vmin auto;
    padding: 3vmin;
    width: 450px;
    height: auto;
    box-shadow: 1px 3px 5px #4BFFA5;
    color: #4BFFA5;
}
img
{
    width: 90%;
}