.img
{
    box-shadow: 1px 3px 5px black;
    max-width: 500px;
    max-height: 500px;
    height: 40vh;
    width: auto;
    transition: all 2s ease;    
    border: 1.3vmin solid white;
    padding: 1px;
    margin: .8vmin auto;
    background-color: black;
}
.imgWrapper
{
    border: 3px solid black;
}