.img
{
    box-shadow: 1px 3px 5px black;
    max-width: 500px;
    max-height: 500px;
    height: 40vh;
    width: auto;
    transition: all 2s ease;    
    padding: 1.3vmin;
    margin: .8vmin;
    background-color: whitesmoke;
}
