
.AboutMe {
    background-color: #4BFFA5;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1.5vmin);
    font-weight: bold;
    color: #080e25;
  }
  .intro
  {
      margin: 70vh 5vw 1vh 5vw;
  }
  .external
{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
}
.Links
{
    color: rgb(26, 26, 26);
}
@media (max-width: 500px){
.intro{     
     margin: 60vh 5vw 0vh 5vw;
}
}